/** {
   outline: 1px solid red !important;
}*/

/*********HEADER*********/
#header{
  text-align: right;
}

/*********LEFT PANEL*********/
#leftPanel{
  width: 180px;
  background-color: #f6f6f6;
  float: left;
  margin-top: -30px;
}

#logo{
  width: 128px;
  margin-left: 24px;
}

/*********WELCOME DIV*********/
#welcomeDiv{
  height: 90px;
  background-color: #f6f6f6;
  border: 1px solid #D4D8D9;
  width: 100%;
}

#welcome{
  float: left;
  width: 30%;
  text-align: center;
}
.bullets{
  float: right;
}

#colorDivs{
  width: 106%;
}
/********GREEN DIV*********/
#green{
  /*clear: both;*/
  width: 50%;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  padding: 8px;
  background-color: #f5fffa;
  border: 1px solid #cef2e0;
}

.littleGreen{
  height:20px;
  background: #cef2e0;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid #a3bfb1;
  padding: 5px;
}

#eminem{
  float: left;
  margin: 10px;
}

#machine{
  float: right;
  margin: 10px;
}

/*********BLUE DIV*********/
#blue{
  width: 40%;
  float: left;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #a7d7f9;
  background-color: #EDF3FA
}

.littleBlue{
  height: 20px;
  background: #cedff2;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid #a3b0bf;
  padding: 5px;
}

#airplane{
  float: right;
  margin: 10px;
}

#pisa{
  float:right;
  margin: 10px;
}

/**********PURPLE DIV*******/
#purple{
  width:100%;
  float: left;
  margin-top: 5px;
  padding: 8px;
}

#littlePurple{
  height: 20px;
  font-size: 17px;
}

#featured{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
/***********TABS***********/
.tabs {
  position: relative;
  /*min-width: 200px;*/
  margin: 25px 0;
  display: flex;
  height: 1800px;
  font-size: 12px;
  font-family: sans-serif;
}
.tab {
  float: left;
}
.tab label {
  background: #eee;
  padding: 10px;
  padding-bottom: 14px;
  border: 1px solid #7FD4F5;
  border-top: 1px solid white;
  margin-left: -1px;
  position: relative;
  left: 1px;
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #7FD4F5;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

#search{
  width: 200px;
  margin-left: 8px;
  margin-bottom: 5px;
}
