/** {
   outline: 1px solid red !important;
}*/

/*********HEADER*********/
#header{
  text-align: right;
  color: #0645ad;
  font-size: 12px;
  font-family: sans-serif;
}

/*********LEFT PANEL*********/
#leftPanel{
  width: 180px;
  background-color: #f6f6f6;
  float: left;
  margin-top: -30px;
}

#leftPanel li{
  list-style-type: none;
  color: #0645ad;
  font-family: sans-serif;
  font-size: 13px;
}

h3{
  font-family: sans-serif;
  font-size: 13px;
  margin-left: 15px;
}
#logo{
  width: 128px;
  margin-left: 24px;
}

/*********WELCOME DIV*********/
#welcomeDiv{
  height: 90px;
  background-color: #f6f6f6;
  border: 1px solid #D4D8D9;
  width: 100%;
}

#welcome{
  float: left;
  width: 30%;
  text-align: center;
  width: 250px;
}

span{
  color: #0645ad;
}
.bullets{
  float: right;
  color: #0645ad;
  margin-right: 40px;
  font-size: 14px;
  padding: 10px;
}

#colorDivs{
  width: 106%;
}
/********GREEN DIV*********/
#green{
  /*clear: both;*/
  width: 50%;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  padding: 8px;
  background-color: #f5fffa;
  border: 1px solid #cef2e0;
  font-size: 14px;
}

.littleGreen{
  height:20px;
  background: #cef2e0;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid #a3bfb1;
  padding: 5px;
}

#eminem{
  float: left;
  margin: 10px;
}

#machine{
  float: right;
  margin: 10px;
}

/*********BLUE DIV*********/
#blue{
  width: 40%;
  float: left;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #a7d7f9;
  background-color: #EDF3FA;
  font-size: 14px;
}

.littleBlue{
  height: 20px;
  background: #cedff2;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid #a3b0bf;
  padding: 5px;
}

#airplane{
  float: right;
  margin: 10px;
}

#pisa{
  float:right;
  margin: 10px;
}

/**********PURPLE DIV*******/
#purple{
  width: 92%;
  float: left;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ddcef2;
  background: #faf5ff;
  font-size: 14px;
}

#littlePurple{
  height: 20px;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  background: #ddcef2;
  border: 1px solid #afa3bf;
  padding: 5px;

}

#featured{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

}
/***********TABS***********/
.tabs {
  position: relative;
  /*min-width: 200px;*/
  margin: 25px 0;
  display: flex;
  height: 1800px;
  font-size: 12px;
  font-family: sans-serif;
}
.tab {
  float: left;
}
.tab label {
  background-image: linear-gradient(white, #DAEBF2);
  padding: 10px;
  padding-bottom: 14px;
  border: 1px solid #7FD4F5;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 50%, from(white), to(#7FD4F5))) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(white, #7FD4F5 50%) 1 100%;
  -moz-border-image: -moz-linear-gradient(white, #7FD4F5 50%) 1 100%;
  -o-border-image: -o-linear-gradient(white, #7FD4F5 50%) 1 100%;
  border-image: linear-gradient(to bottom, white, #7FD4F5 50%) 1 100%;
  border-top: 0px solid white;
  margin-left: -1px;
  position: relative;
  left: 1px;
  color: #0645ad;
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #7FD4F5;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
  color: black;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

#search{
  width: 200px;
  height: 20px;
  margin-left: 8px;
  margin-bottom: 10px;
  padding-top: 2px;
  font-size: 14px;
  border: 1px solid #CFD1D1;
  color: #CFD1D1;

}

i{
  float: right;
}
